Step 1: 
import data and libraries

In [65]:
import pandas as pd
import matplotlib.pyplot as plt
data = pd.read_csv('all_data_M_2023.csv')

C:\Users\NHLUJ\AppData\Local\Temp\ipykernel_13560\3369162346.py:3: DtypeWarning: Columns (4,13,14,15,16,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('all_data_M_2023.csv')

Step 2:
General analysis of data and information

In [55]:
#data.shape(rows, colums)
data.shape

(413327, 32)

In [57]:
type(data)

pandas.core.frame.DataFrame

In [67]:
data.head()

,AREA,AREA_TITLE,AREA_TYPE,PRIM_STATE,NAICS,NAICS_TITLE,I_GROUP,OWN_CODE,OCC_CODE,OCC_TITLE,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
0,99,U.S.,1,US,0,Cross-industry,cross-industry,1235,00-0000,All Occupations,...,23.11,37.01,58.40,"29,050","35,660","48,060","76,980","121,470",NaN,NaN
1,99,U.S.,1,US,0,Cross-industry,cross-industry,1235,11-0000,Management Occupations,...,56.19,81.29,111.36,"54,550","78,330","116,880","169,090","231,620",NaN,NaN
2,99,U.S.,1,US,0,Cross-industry,cross-industry,1235,11-1000,Top Executives,...,49.74,79.57,#,"46,400","66,170","103,460","165,500",#,NaN,NaN
3,99,U.S.,1,US,0,Cross-industry,cross-industry,1235,11-1010,Chief Executives,...,99.37,#,#,"80,000","130,840","206,680",#,#,NaN,NaN
4,99,U.S.,1,US,0,Cross-industry,cross-industry,1235,11-1011,Chief Executives,...,99.37,#,#,"80,000","130,840","206,680",#,#,NaN,NaN

Step 3: 
Based on analysis, define what do you want to knwo about the data set, create some possible questions to answear